#b2dcan {
    background-color: #000;
    display: none;
}

#easelcan {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#viewport {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 600px;
    border: none;
    overflow: hidden;
}

#splashScreen {
    background-color: black;
    color: red;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    position: absolute;
}

#title-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72;
}

#roundDisplay {
    display: none;
}

#killDisplay {
    display: none;
}

/* #licenseLinks { */
/*     position: absolute; */
/*     bottom: 0; */
/* } */

#menuScreen {
    background-color: black;
    color: red;
    height: 600px;
    width: 800px;
    display: none;
    justify-content: center;
    align-items: center;
}

#userinfo {
    padding-right: 20px;
}

#highScores {
    padding-left: 20px;
}

#play {
    background-color: red;
    color: black;
}

#about {
    background-color: red;
    color: black;
}

#aboutScreen {
    background-color: black;
    color: red;
    height: 600px;
    width: 800px;
    display: none;
    justify-content: center;
    align-items: center;
}

#menuButton {
    background-color: red;
    color: black;
}

#highScores {
    color: red;
}

#highScoreTable {
    color: red;
    text-align: center;
}
